<?xml version="1.0"?>
<launch>

	<!-- Desired frequency -->
	<arg name="desired_freq" default="1.0" />
	
	<!-- Load .yaml example -->
	<arg name="msg_config_path" default="$(find robotnik_telegram)/config/msg_config.yaml" />
	<rosparam file="$(arg msg_config_path)" command="load" />

	<!-- start SMTPManager node -->
	<node name="msg_manager" pkg="robotnik_telegram" type="msg_manager_node.py" output="screen" respawn="false">
		<param name="desired_freq" value="$(arg desired_freq)"/>
	</node>

</launch>
